<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Solicitud</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="observarSolicitud">
            <form th:object="${solicitud}">
                <input type="hidden" name="idSolicitud" th:field="*{idSolicitud}"/>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Informaci&oacute;n solicitud</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="tiposolicitud">[[#{solicitud.tipo-solicitud}]]: </label>
                                            <label id="valorTipoSolicitud" for="valorTipoSolicitud">[[${solicitud.tipoSolicitud.nombre}]]</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="codigo">[[#{solicitud.codigo}]]: </label>
                                            <label id="valorCodigo" for="valorCodigo">[[${solicitud.codigo}]]</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="fechaCreacion">[[#{solicitud.fecha-creacion}]]: </label>
                                            <label id="valorFecha" for="valorFecha">[[${solicitud.fechaCreacion}]]</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="nombreDocent">[[#{solicitud.nombre-docente}]]: </label>
                                            <label id="valorNombrePersona" for="valorNombrePersona">[[${solicitud.persona.nombre}]]</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="correoDocente">[[#{solicitud.correo-docente}]]: </label>
                                            <label id="valorCorreoPersona" for="valorCorreoPersona">[[${solicitud.persona.correo}]]</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="celularDocente">[[#{solicitud.celular-docente}]]: </label>
                                            <label id="valorCelularPersona" for="valorCelularPersona">[[${solicitud.persona.celular}]]</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="estado">[[#{solicitud.estado}]]: </label>
                                            <label id="valorEstado" for="valorEstado">[[${solicitud.estado.nombre}]]</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="programa">[[#{solicitud.programa}]]: </label>
                                            <label id="valorPrograma" for="valorPrograma">[[${solicitud.persona.programa.nombre}]]</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section th:fragment="cambiarEstado">
            <form th:action="@{/guardarSolicitud}" th:object="${solicitud}"
                  method="POST" class="was-validated">
                <input type="hidden" name="idSolicitud" th:field="*{idSolicitud}"/>
                <input type="hidden" name="persona" th:field="*{persona}"/>
                <input type="hidden" name="formulario" th:field="*{formulario}"/>
                <input type="hidden" name="fechaCreacion" th:field="*{fechaCreacion}"/>
                <input type="hidden" name="codigo" th:field="*{codigo}"/>
                <input type="hidden" name="puntajeTentativo" th:field="*{puntajeTentativo}"/>
                <input type="hidden" name="tipoSolicitud" th:field="*{tipoSolicitud}"/>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.cambiar-estado}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <label for="nombre">[[#{solicitud.estado}]]</label>
                                        <select  th:field="*{estado}" name="estado" id="estado">
                                            <option  th:each="estado : ${estados}" th:value="${estado.idEstado}" th:text="${estado.nombre}"></option>
                                        </select>
                                        <div class="form-group">
                                            <section th:replace="layout/botonesSolicitud :: botonGuardarSolicitud"></section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section th:fragment="cambiarPuntaje">
            <form th:action="@{/guardarSolicitud}" th:object="${solicitud}"
                  method="POST" class="was-validated">
                <input type="hidden" name="idSolicitud" th:field="*{idSolicitud}"/>
                <input type="hidden" name="persona" th:field="*{persona}"/>
                <input type="hidden" name="formulario" th:field="*{formulario}"/>
                <input type="hidden" name="fechaCreacion" th:field="*{fechaCreacion}"/>
                <input type="hidden" name="codigo" th:field="*{codigo}"/>
                <input type="hidden" name="estado" th:field="*{estado}"/>
                <input type="hidden" name="tipoSolicitud" th:field="*{tipoSolicitud}"/>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.cambiar-puntaje}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre">[[#{solicitud.puntaje-tentativo}]]</label>
                                            <input type="text" class="form-control" name="puntajeTentativo" 
                                                   required="true" th:field="*{puntajeTentativo}"/>
                                        </div>
                                        <div class="form-group">
                                            <section th:replace="layout/botonesSolicitud :: botonGuardarSolicitud"></section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section th:fragment="listadoSolicitudes" id="solicitud">
            <div class="container">
                <div class="row">
                    <div class="col-md-13">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{solicitud.titulo-lista}]]</h4>
                            </div>
                            <div th:if="${solicitudes != null and !solicitudes.empty}">
                                <table class="table table-stryped" id="tablaSolicitudes">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th th:text="#{solicitud.tipo-solicitud}">Tipo solicitud</th>
                                            <th th:text="#{solicitud.codigo}">Codigo</th>
                                            <th th:text="#{solicitud.fecha-creacion}">Fecha creacion</th>
                                            <th th:text="#{solicitud.nombre-docente}">Nombre docente</th>
                                            <th th:text="#{solicitud.correo-docente}">Correo docente</th>
                                            <th th:text="#{solicitud.programa}">Programa</th>
                                            <th th:text="#{solicitud.puntaje-tentativo}">Puntaje tentativo</th>
                                            <th th:text="#{solicitud.estado}">Estado</th>
                                            <th>Gestionar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="elementoEstadoSolicitud" th:each="solicitud : ${solicitudes}">
                                            <td>[[${solicitud.tipoSolicitud.nombre}]]</td>
                                            <td>[[${solicitud.codigo}]]</td>
                                            <td>[[${solicitud.fechaCreacion}]]</td>
                                            <td>[[${solicitud.persona.nombre}]]</td>
                                            <td>[[${solicitud.persona.correo}]]</td>
                                            <td>[[${solicitud.persona.programa.nombre}]]</td>
                                            <td>[[${solicitud.puntajeTentativo}]]</td>
                                            <td id="elementoEstadoSolicitud">[[${solicitud.estado.nombre}]]</td>
                                            <td>
                                                <a th:href="@{/observarSolicitud/} + ${solicitud.idSolicitud}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                </a>
                                            </td>
                                        </tr>
                                        <script type="text/javascript">
                                            var container = document.querySelectorAll('td');
                                            function change() {
                                                for (var posicion in container) {
                                                    var estado = container[posicion];
                                                    if (estado.textContent === 'NUEVA') {
                                                        estado.style.color = "#F1C40F";
                                                    }
                                                    if (estado.textContent === 'MODIFICADA USUARIO') {
                                                        estado.style.color = "#3498DB";
                                                    }
                                                    if (estado.textContent === 'REVISION OFICINA') {
                                                        estado.style.color = "#F39C12";
                                                    }
                                                    if (estado.textContent === 'ACEPTADA') {
                                                        estado.style.color = "#77D628 ";
                                                    }
                                                    if (estado.textContent === 'DEVUELTA') {
                                                        estado.style.color = "#E74C3C";
                                                    }
                                                    if (estado.textContent === 'PROCESO VALORACION') {
                                                        estado.style.color = "#A569BD";
                                                    }
                                                    if (estado.textContent === 'FINALIZADA') {
                                                        estado.style.color = "#2ECC71";
                                                    }
                                                }
                                            }
                                            change();
                                        </script>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${solicitudes == null or solicitudes.empty}">
                                <span th:text="#{solicitud.lista-vacia}">Lista vacía</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="actualizarDocumento">
            <form th:action="@{/actualizarDocumento/} + ${documento.idDocumento}" th:object="${documento}"
                  method="POST" class="was-validated" enctype="multipart/form-data">
                <input type="hidden" name="idDocumento" th:field="*{idDocumento}"/>
                <input type="hidden" name="solicitud" th:field="*{solicitud}"/>
                <input type="hidden" name="nombre" th:field="*{nombre}"/>
                <input type="hidden" name="direccionURL" th:field="*{direccionURL}"/>
                <input type="hidden" name="fechaCarga" th:field="*{fechaCarga}"/>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.actualizar-documento}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre">[[#{documento.titulo}]]</label>
                                            <span><a id="direccionurl" th:href="${documento.direccionURL}" target="_blank">[[${documento.nombre}]]</a></span>
                                        </div>
                                        <div class="form-group">
                                            <section th:replace="layout/plantillaSolicitud :: cargarArchivoComprimido" sec:authorize="hasRole('ROLE_USER')"></section>
                                        </div>
                                        <div class="form-group">
                                            <section th:replace="layout/botonesSolicitud :: botonActualizarDocumento" sec:authorize="hasRole('ROLE_USER')"></section>
                                        </div>
                                        <div class="text-center p-2" th:if="${documento == null}">
                                            <span th:text="#{documento.vacio}">Lista vacía</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section th:fragment="cargarArchivoComprimido">
            <div class="container">
                <table>
                    <tr>
                        <td>Cargar comprimido:</td>
                        <td>
                            <input type="file" name="file" class="fa fa-cloud-upload" required="true" accept=".zip,.rar"/>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
        <section th:fragment="verValoracion" th:object="${solicitud}">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{solicitud.obtener-valoracion}]]</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="nombre">Link: </label>
                                    <span><a id="direccionValoracion" style="color:blue;" target="_blank"></a>[[#{solicitud.link-valoracion}]][[${solicitud.idSolicitud}]]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

