<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio usuario</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="btn-group ml-5" role="group">
            <section th:replace="layout/botonesSolicitud :: botonAgregarSolicitudPA"></section>
            <section th:replace="layout/botonesSolicitud :: botonAgregarSolicitudBON"></section>
        </div>
        <section th:replace="layout/plantillaSolicitud :: listadoSolicitudes"></section>
        <header th:replace="layout/botonesFormulario :: botonAgregarProductividadAcademica"></header>
        <header th:replace="layout/botonesFormulario :: botonAgregarBonificacion"></header>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
